@model MyApp.Models.Utilisateur

@{
    ViewData["Title"] = "Login";
}

<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        background: linear-gradient(to right, #ffffff, #f0f0f0);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .card {
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 8px;
    }

    .card-header {
        background-color: #815861;
        color: #fff;
        border-bottom: 1px solid #815861;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to YourLibreForum!</h1>
    <p></p>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Login</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Login" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="username" class="control-label">Nom d'utilisateur :</label>
                            <input asp-for="username" class="form-control" />
                            <span asp-validation-for="username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="password" class="control-label">Mot de passe :</label>
                            <input asp-for="password" type="password" class="form-control" />
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>

                    <p>Don't have an account?</p>
                    <div class="form-group text-center">
                        <a href="@Url.Action("Create", "Utilisateurs")" class="btn btn-primary">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
